@import 'theme/theme';

.blank {
  @include innerShadow;
  @include flexCenter;

  width: 100%;
  height: 100%;
  background-color: rgba(black, 0.2);

  & > p {
    font-family: 'Rubik', sans-serif;
  }

  &:hover {
    cursor: not-allowed;
  }
}