@import '../theme/theme';

.body {
  background-color: $background;
  min-height: 100vh;

  color: white;

  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;

  & > .ip {
    position: relative;

    display: flex;
    flex-direction: column;
    justify-content: center;

    height: 100vh;

    & > h1 {
      margin: 0;
      margin-bottom: 12px;

      font-family: 'Rubik', sans-serif;
      font-weight: 500;
      font-size: 72px;
    }

    & > p {
      display: inline-block;
      background: linear-gradient(90deg, #42D2FF 0%, #9E63FF 100%);

      border-radius: 5px;

      text-align: center;

      font-family: 'Consolas', sans-serif;
      font-size: 32px;

      padding: 10px;
    }

    & > .indicator {
      @include flexCenterCol;

      position: absolute;
      bottom: 60px;
      left: 50%;

      transform: translateX(-50%);

      color: rgba(white, 0.6);

      &:hover {
        cursor: pointer;
      }

      & > p {
        font-family: 'Rubik', sans-serif;

        margin: 0;
        margin-bottom: 14px;
      }
    }
  }

  & > .info {
    @include flexCenterRow;

    width: 1000px;
    height: 300px;

    margin: 200px 0;

    & > .left {
      margin-right: 48px;
      width: 50%;
      height: 100%;

      &:hover {
        cursor: grab;
      }
    }

    & > .right {
      width: 50%;
    }
  }
}

.entry {
  @include flexRow;

  align-items: center;

  & > svg {
    width: 32px;
    height: 32px;

    margin-right: 16px;
  }

  & > div {
    margin: 12px 0;

    & > h5 {
      color: #A0A0A0;
      font-family: 'Rubik', sans-serif;
      font-weight: normal;

      margin: 0;
      margin-bottom: 5px;
    }

    & > p {
      color: #67D1FF;
      font-family: 'Consolas', sans-serif;

      height: 18px;

      margin: 0;
    }

  }
}